<p id="notice"><%= notice %></p>

<div id='bio-photo'>
  <img src='https://dl.dropboxusercontent.com/u/1500703/buy-congress/images/200x250/<%= @politician.bioguide_id %>.jpg' />
</div>

<p>
  <strong>Title:</strong>
  <%= @politician.title %>
</p>

<!-- <p>
  <strong>Chamber:</strong>
  <%= @politician.chamber %>
</p> -->

<p>
  <strong>First name:</strong>
  <%= @politician.firstname %>
</p>

<!-- <p>
  <strong>Nickname:</strong>
  <%= @politician.nickname %>
</p> -->


<p>
  <strong>Last name:</strong>
  <%= @politician.last_name %>
</p>

<p>
  <strong>Name suffix:</strong>
  <%= @politician.name_suffix %>
</p>

<p>
  <strong>Party:</strong>
  <%= @politician.party %>
</p>

<p>
  <strong>State:</strong>
  <%= @politician.state %>
</p>

<!-- <p>
  <strong>State name:</strong>
  <%= @politician.state_name %>
</p>
 -->
<p>
  <strong>District:</strong>
  <%= @politician.district %>
</p>

<p>
  <strong>In office:</strong>
  <%= @politician.in_office %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @politician.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @politician.birthdate %>
</p>

<!-- <p>
  <strong>Term start:</strong>
  <%= @politician.term_start %>
</p>

<p>
  <strong>Term end:</strong>
  <%= @politician.term_end %>
</p>

<p>
  <strong>Senate class:</strong>
  <%= @politician.senate_class %>
</p> -->

<p>
  <strong>Bioguide:</strong>
  <%= @politician.bioguide_id %>
</p>

<!-- <p>
  <strong>Thomas:</strong>
  <%= @politician.thomas_id %>
</p>

<p>
  <strong>Lis:</strong>
  <%= @politician.lis_id %>
</p> -->

<p>
  <strong>Votesmart:</strong>
  <%= @politician.votesmart_id %>
</p>

<!-- <p>
  <strong>Fec ids:</strong>
  <%= @politician.fec_ids %>
</p> -->

<p>
  <strong>Govtrack:</strong>
  <%= @politician.govtrack_id %>
</p>

<p>
  <strong>Crp:</strong>
  <%= @politician.crp_id %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
